config ADJ_CHAIN
	default n
	bool "Chain task adj for victim select"
	help
	 To chain task adj for any purpose

config HOUSTON
	default n
	bool "houston rocket play your temperature guard"
	help
	 Realtime temperature monitor

config SMART_BOOST
        bool "support smart boost feature"
        default n
        help
         Smart Boost feature

config OPLUS_FEATURE_SUGOV_TL
	default n
	bool "A power optimization feature target loads"
